/* Costom properties */
:root {
    --primario: #004450;
    --secundario: #edcff0;
    --citrus: #f2c331;
    --appleCore: #dcc7aa;
    --vinotino: #3f2021;
    --orange: #ff7340;
    --gris: #3B3B3B;
    --blanco: #fff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuente-secundaria: 'Lato', sans-serif;



}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}


/* Globales */

.contenedor {
    max-width: 120rem;
    min-width: 40rem;
    width: 90%;
    margin: 0 auto;
}

p,
h3 {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuente-secundaria);
    margin: 2.5rem;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}


/* Utilidades */

.text-center {
    text-align: center;
}


/* Barra nav */

.barraNava {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--primario);
    margin: 0;
    height: 15rem;
    position: fixed;
    width: 100%;
}

@media (max-width: 758px) { 
    .barraNava{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
        height: auto;
        padding: 2rem 0;
    }
}

.banner {
    padding-top: 15rem;
}
@media (max-width: 768px) { 
    .banner{
        padding-top: 0;
    }
}

.barraNava li img {
    width: 15rem;
    transition: transform;
    transition-duration: .3s;
}

.barraNava li img:hover {
    transform: scale(1.2);
}


.barraNava li {
    list-style: none;
    transition-property: transform;
}


.barraNava li:hover {

    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.barraNava li a {
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 900;
    padding: 3rem;
    color: var(--blanco);
}

.barraNava li a:hover {
    transform: scale(1.2);
    color: #f2c331;
}


.tipo-mascota {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-top: 15rem;
    color: var(--blanco);
}

@media (max-width: 768px) { 
    .tipo-mascota{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contenido-mascota {
    padding: 5rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    border-radius: 6rem;
    width: 30rem;
    line-height: 1;
    box-shadow: 5px 5px 30px gray;
}



.contenido-mascota:hover {
    box-shadow: 5px 5px 30px 7px gray;
}


/* Banner */

.banner img {
    width: 100%;
}

@media (max-width: 768px) { 
    .banner img{
        margin-top: 0
    }

    .banner2 img{
        margin-top: 10rem;
    }
}

.perro {
    background-color: var(--citrus);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gato {
    background-color: var(--appleCore);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perro p {
    font-size: 1.9rem;
}

.gato p {
    font-size: 1.9rem;
}

.perro h3 {
    margin: 0;
}

.gato h3 {
    margin: 0;
}


/* Categorias */

.categorias {
    margin-top: 15rem;
}

@media (max-width: 768px) { 
    .categorias{
        margin-top: 10rem;
    }
}

.categorias h3 {
    text-align: center;
}

.categorias-imagenes a {
    width: 16%;
    border: 1px solid var(--grisClaro);
    border-radius: 5rem;
    padding: 1rem;
    transition: background-color .3s ease-out;
    box-shadow: 5px 5px 15px gray;
}

@media (max-width: 768px) { 
    .categorias-imagenes a{
        padding: 0;
        margin-top: 1.5rem;
    }
}

.categorias-imagenes img {
    border-radius: 5rem;
}

.categorias-imagenes a:hover {
    background-color: var(--vinotino);
}

.categorias-imagenes {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) { 
    .categorias-imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;


    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--grisClaro);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 5px 5px 20px gray;
    text-align: center;
}

.card img {
    height: 338px;
}

.card:hover {
    box-shadow: 5px 5px 30px 7px gray;
}

.card p:last-child {
    font-weight: 900;
    margin-top: 2rem;
}

.card p span {
    font-weight: 900;
    font-size: 2rem;
    color: var(--orange);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15rem;
    gap: 3rem;

}

@media (max-width: 768px) { 
    .cards{
        grid-template-columns: 1fr;
        margin-top: 10rem;
    }
}

.titulos-categoria h2 {
    text-align: center;
    margin: 5rem 0;
}

.banner-card {
    background-image: url(../img/Banner\ 1.jpg);
}


/* Contacto */

.padre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5rem 0;
    margin-top: 15rem;
}

@media (max-width: 768px) { 
    .contacto{
        display: flex;
        flex-direction: column;
    }
}

.contacto-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto-texto h2 {
    color: var(--negro);
}

.contacto-texto p {
    color: #1f1e1e;
}

.iconos-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

}

.iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.iconos-texto {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: -50px;
}

.iconos i {
    font-size: 25px;
}

.letra-categorias {
    text-align: center;
    margin: 5rem 0;
}


/* Nosotros */

.contenedor-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.contenedor-nosotros p {
    margin: 2rem 0;
    width: 70%;
}

.texto-nosotros p .patitas {
    color: var(--citrus);
    font-weight: 900;
}

.texto-nosotros p .patitas2 {
    color: var(--orange);
    font-weight: 900;
}

.texto-nosotros p .patitas3 {
    color: rgb(80, 71, 255);
    font-weight: 900;
}

.texto-nosotros h3 {
    margin: 0;
    color: var(--vinotino);
}

.texto-nosotros h1 {
    color: var(--vinotino);
}


/* WhatsApp */

.whatsapp {
    width: 75px;
    height: 75px;
    background-color: #25D366;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp i {
    font-size: 60px;
    color: #fff;
}


.whatsapp:hover {
    transform: scale(1.1);
    background-color: #128C7E;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #004450;
    color: var(--blanco);
    margin-top: 15rem;
    
}

@media (max-width: 768px) { 
    footer{
        flex-direction: column;
        justify-content: left;
        align-items: start;
        padding: 10rem;
        text-align: left;
    }
}

footer a {
    color: var(--blanco);
    text-decoration: none;
}

footer a:hover {
    transform: scale(1.1);
    color: var(--citrus);
}

.logopat {
    width: 200px;
    height: 200px;
}

.redes-sociales {
    display: flex;
    justify-content: left;
    margin-top: 20px;

}

.redes-sociales i {
    font-size: 40px;
}

.footer h3 {
    margin: 2rem 0;
    padding: 0 3rem 0 0;
}